*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-basis: 10px;
  margin: auto;
  flex-wrap: wrap;
}
.form {
  width: 50%;
  height: 0;
  padding-bottom: min(498.4px, 49.8%);
  max-width: 500px;
  border-radius: 20px;
  background-color: #f2f2f2;
  border: 1px solid #00a99d;
}
